include ./mixins
doctype html
html
    +head(messages.CATALOG)
    link(rel="stylesheet", type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    body
        .page
            // Main Navbar
            +main-navbar(messages)
            .page-content.d-flex.align-items-stretch
                // Side Navbar
                +sidebar("catalog", user, messages)
                .content-inner
                    // Page Header
                    header.page-header
                        .container-fluid
                            h2.no-margin-bottom=messages.CATALOG
                    section.preferences
                        .container-fluid
                            .row
                                .col-lg-12
                                    .card
                                        .card-header.d-flex.align-items-center
                                            h3.h4=messages.SEARCH

                                        .card-body
                                            form.form-horizontal
                                                .form-group.row
                                                    label.col-sm-3.form-control-label=messages.SEARCH_BY_TITLE
                                                    .col-sm-6
                                                        label
                                                        input.form-control(type='text', placeholder='Introduction to algorithms', required='')
                                                .form-group.row
                                                    label.col-sm-3.form-control-label=messages.SEARCH_BY_AUTHORS
                                                    .col-sm-6
                                                        label
                                                        input.form-control(type='text', placeholder='Bob Smith, Eva Adams', required='')
                                                .form-group.row
                                                    label.col-sm-3.form-control-label(for='search-by-type')=messages.FILTER_TYPES
                                                    .col-sm-6
                                                        select#search-by-type.form-control
                                                            option All
                                                            option Books
                                                            option Articles
                                                            option Audio-Video material
                                                .form-group.row
                                                    .col-sm-2
                                                        button#search.btn.btn-primary(type='submit')=messages.FIND

                    section.document
                        #documentDetailsModal.modal.fade
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        h3.modal-title Document details
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                    .modal-body
                                        #details-error.container.alert.alert-danger(style='display: none;')
                                        #details-success.container.alert.alert-success(style='display: none;')
                                        #details-body
                                            .container.form-row
                                                b Title:&nbsp;
                                                #details-title
                                            .container.form-row
                                                b Authors:&nbsp;
                                                #details-author
                                            .container.form-row
                                                b Edition:&nbsp;
                                                #details-edition
                                            .container.form-row
                                                b Publisher:&nbsp;
                                                #details-publisher
                                            .container.form-row
                                                b Keywords:&nbsp;
                                                #details-keywords
                                            .container.form-row
                                                b Description:&nbsp;
                                                #details-description
                                            .container.form-row
                                                b Type:&nbsp;
                                                #details-type book
                                    .modal-footer
                                        button#closeDetailsModal.btn.btn-secondary(type='button', data-dismiss='modal')
                                            | Close
                        #documents.container-fluid
                            #loader
                                .row.align-items-center.justify-content-center
                                    img(src='images/loading.gif')
                                h2.text-center Loading...
                    // Page Footer
                    +footer()
        // Javascript files
        +java-script()
        script(src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
        script(src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
        script(src='js/catalog.js')